body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9fb;
    color: #f9f9fb;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    padding: 60px 20px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #bcb3a7;
    margin-bottom: 40px;
    text-align: center;
}
p {
    line-height: 1.7;
    font-size: 1.0rem;
    margin-bottom: 20px;
}

.card {
    background: #69a3a6;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 999px;
    background-color: #222;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #444;
    transform: translateY(-2px);
}

footer {
    margin-top: 60px;
    font-size: 0.85rem;
    color: #777;
}

.soft {
    background: #f1f1f5;
    padding: 15px;
    border-radius: 12px;
    font-size: 0.95rem;
    color: #444;
}

.logo-img {
      display: block;
      max-width: 250px;
      margin: 0 auto 10px auto;
}